# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: llelievr <llelievr@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2019/01/29 21:53:52 by llelievr          #+#    #+#              #
#    Updated: 2019/01/29 22:21:59 by llelievr         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #
.vscode
./fdf
objs/

